<h1> Ride App</h1>
<div id="new-todo-block">
  <input class="text-input" id="new-ride-description" type="text" placeholder="Add a new ride...">
  <input class="text-input" id="new-pomodoro-estimate" type="number" placeholder="Pomodoro estimate...">
  <input class="button" id="add-new-ride-button" type="submit" value="Add ride">
</div>
